<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Virinco.WATS.Interface.TDM"
                          publicKeyToken="25abfe255fd31fdf" />
        <publisherPolicy apply="yes" />
        <!-- Redirecting version of the assembly. -->
        <bindingRedirect oldVersion="4.1.0.0-4.1.99.99" newVersion="2016.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>