<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Virinco.WATS.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMES_Service" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
         bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
         maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
         textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IReportCenter" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="16777216"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck" />
            </serviceCertificate>
            <peer>
              <peerAuthentication revocationMode="NoCheck" />
              <messageSenderAuthentication revocationMode="NoCheck" />
            </peer>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint
        address="http://vic-vs23.virinco.local/wats-dc/ReportCenter.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IReportCenter" contract="ReportCenter.IReportCenter"
        name="TDM-VIC-VS23">
        <identity>
          <dns value="vic-vs23.virinco.local" />
        </identity>
      </endpoint>
      <endpoint
        address="http://vic-vs22.virinco.local/wats-dc/reportcenter.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IReportCenter" contract="ReportCenter.IReportCenter"
        name="TDM-VIC-VS22-Internal">
        <identity>
          <dns value="vic-vs22.virinco.local" />
        </identity>
      </endpoint>
      <endpoint
        address="http://vic-vs23.virinco.local/MES_Service/MES_Service.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMES_Service" contract="MES_Service.IMES_Service"
        name="MES-VIC-VS23">
        <identity>
          <dns value="vic-vs23.virinco.local" />
        </identity>
      </endpoint>
      <endpoint
        address="http://eltek-egts-dw/MES_Service/Mes_service.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMES_Service" contract="MES_Service.IMES_Service"
        name="MES-ELTEK-MASTER">
        <identity>
          <dns value="eltek-egts-dw" />
        </identity>
      </endpoint>
      <endpoint
        address="http://test.wats.no/wats-dc/reportcenter.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IReportCenter" contract="ReportCenter.IReportCenter"
        name="TDM-VIC-VS22">
        <identity>
          <dns value="VIC-VS22.virinco.local" />
        </identity>
      </endpoint>
      <endpoint
        address="http://eltek-egts-web/wats-dc/reportcenter.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IReportCenter" contract="ReportCenter.IReportCenter"
        name="TDM-ELTEK-MASTER">
        <identity>
          <dns value="WATS Default WCF" />
        </identity>
      </endpoint>
      <endpoint
        address="http://localhost/MES_Service/Mes_service.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMES_Service" contract="MES_Service.IMES_Service"
        name="MES-LOCAL">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint
        address="http://eesk-egts/wats-dc/reportcenter.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IReportCenter" contract="ReportCenter.IReportCenter"
        name="TDM-ELTEK-EESK">
        <identity>
          <dns value="WATS Default WCF" />
        </identity>
      </endpoint>
      <endpoint
        address="http://eesk-egts/MES_Service/Mes_service.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMES_Service" contract="MES_Service.IMES_Service"
        name="MES-ELTEK-EESK">
        <identity>
          <dns value="eesk-egts" />
        </identity>
      </endpoint>

    </client>

  </system.serviceModel>
</configuration>

