<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="" value="Leave a empty key" />
    <!--Cultures supported per april 2013 is en(English),es(Spanish),no(Norwegian),sk(Slovakian),de-DE(German),zh-CN(Chinese).
    Texts in user interface will be presented in this language provided that the English text is translated in WATS Control Panel-->
    <add key="Culture" value="en" />

    <!--LoopUUT: If true, then dialog with serialnumber is automatically repeated after each test run-->
    <add key="LoopUUT" value="True" />

    <!--ForceSoftwareManager: If true, MES Software distribution must be enabled and contain a package with name: Partnumber_Revision_TestOperationName (by default)-->
    <add key="ForceUseSoftwareManager" value="False" />
    <!--ForceUseWorkflow: If true, this test station cannot be run without using the WATS MES -Test UUT's from Teststand -->
    <add key="ForceUseWorkflow" value="False" />
    
    <!--DenyWFCompleted: If true, it will not be possible to run workflow more than one time-->
    <add key="DenyWFCompleted" value="False" />
    <!--DenyWFNotDefined: If true, it will not be possible to run test if no workflow is assigned to unit-->
    <add key="DenyWFNotDefined" value="False" />
    <!--DenyWFSuspended: If true, it will not be possible to run test even if unit is under repair (Suspended)-->
    <add key="DenyWFSuspended" value="False" />
    <!--MESModelPath: File path to the WATS MES model when using MES-->
    <add key="MESModelPath" value="WATS_MESModel.seq" />

    <!--These settings apply when serial numbers are not unique (part number must also be given)-->
    <!--IdentifyProductFilter: This can be used to filter the part numbers downloaded from Product Manageer e.g. 24%-->
    <add key="IdentifyProductFilter" value="" />
    <!--IdentifyProductTopCount: Max number of partnumbers downloaded from Product Manager-->
    <add key="IdentifyProductTopCount" value="100000" />
    <!--IdentifyProductEnableFreePN: If true, the partnumber can be entered in free text. If false a combo box is used-->
    <add key="IdentifyProductEnableFreePN" value="True" />
    <!--IdentifyProductEnableRev: If true, the revision can be selected-->
    <add key="IdentifyProductEnableRev" value="True" />
    
    <!--IdentifyUUTDispTreeView: If true, the Display TreeView in the IdentifyUUT dialog is checked-->
    <add key="IdentifyUUTDispTreeView" value="False" />
    <!--SequentialStatusTimeout: -1 = No Timeout, 0 = No Dialog, 60 = 60 second timeout-->
    <add key="SequentialStatusTimeout" value="60" />

    <!--DeleteAllPackages: If true, all downloaded software packages will be deleted from the client-->
    <add key="DeleteAllPackages" value="False" />
    <!--DeleteRevokedPackages: If true, all Revoked software packages will be deleted from the client-->
    <add key="DeleteRevokedPackages" value="True" />

    <!--SoftwareDefinitionStatus: Released, Pending, Draft, Revoked-->
    <add key="SoftwareDefinitionStatus" value="Released" />

    <!--WorkflowDefinitionStatus: Released, Pending, Draft, Revoked-->
    <add key="WorkflowDefinitionStatus" value="Released" />

    <!--SoftwareModelPath: File path to the WATS MES model when using MES-->
    <add key="SoftwareModelPath" value="WATS_SoftwareModel.seq" />

  </appSettings>
</configuration>
