<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Virinco.WATS.Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--Used for download of files-->
		<add key="Proxy.Method" value="None" />
		<add key="Proxy.Address" value="http://gateway:8080" />
		<add key="Proxy.Username" value="proxyUsername" />
		<add key="Proxy.Password" value="proxyPassword" />
		<add key="Proxy.Domain" value="" />
		<add key="pingrate" value="300" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IMES_Service" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="16777216" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="true">
					<readerQuotas maxDepth="256" maxStringContentLength="52428800" maxArrayLength="524288" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="WSHttpsBinding_IMES_Service" closeTimeout="00:10:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="16777216" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="true">
					<readerQuotas maxDepth="256" maxStringContentLength="52428800" maxArrayLength="524288" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IReportCenter" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="16777216" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false" />
					</security>
				</binding>
				<binding name="WSHttpsBinding_IReportCenter" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="16777216" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="524288" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false" />
					</security>
				</binding>
			</wsHttpBinding>
			<basicHttpBinding>
				<!-- buffer: 64KB; max size: 64MB -->
				<binding name="FileTransferServicesBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Streamed" messageEncoding="Mtom" maxBufferSize="65536" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
				<binding name="FileTransferServicesBindingHttps" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Streamed" messageEncoding="Mtom" maxBufferSize="65536" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="EndpointBehavior">
					<dataContractSerializer maxItemsInObjectGraph="655360" />
					<clientCredentials>
						<serviceCertificate>
							<authentication revocationMode="NoCheck" />
						</serviceCertificate>
						<peer>
							<peerAuthentication revocationMode="NoCheck" />
							<messageSenderAuthentication revocationMode="NoCheck" />
						</peer>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost/wats/wats-dc/ReportCenter.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReportCenter" contract="ReportCenter.IReportCenter" name="TDM-Default">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-dc/ReportCenter.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IReportCenter" contract="ReportCenter.IReportCenter" name="TDM-Default-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IMesService" name="MES-Default">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IMesService" name="MES-Default-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/ProductionService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IProductionService" name="MES-Default-Production">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/ProductionService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IProductionService" name="MES-Default-Production-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/ProductService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IProductService" name="MES-Default-Product">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/ProductService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IProductService" name="MES-Default-Product-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/SoftwareService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.ISoftwareService" name="MES-Default-Software">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/SoftwareService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.ISoftwareService" name="MES-Default-Software-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/SoftwareServiceStream" behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBinding" contract="Virinco.WATS.Service.MES.Contract.ISoftwareService" name="MES-Default-Stream">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/SoftwareServiceStream" behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding" bindingConfiguration="FileTransferServicesBindingHttps" contract="Virinco.WATS.Service.MES.Contract.ISoftwareService" name="MES-Default-Stream-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/EquipmentService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IEquipmentService" name="MES-Default-Equipment">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/EquipmentService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IEquipmentService" name="MES-Default-Equipment-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/WorkflowService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IWorkflowService" name="MES-Default-Workflow">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/WorkflowService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IWorkflowService" name="MES-Default-Workflow-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

			<endpoint address="http://localhost/wats/wats-mes/MesService.svc/ManualInspectionService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IManualInspectionService" name="MES-Default-ManualInspection">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://localhost/wats/wats-mes/MesService.svc/ManualInspectionService" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpsBinding_IMES_Service" contract="Virinco.WATS.Service.MES.Contract.IManualInspectionService" name="MES-Default-ManualInspection-Secure">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>

		</client>
	</system.serviceModel>
</configuration>