<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <system.diagnostics>
    <sources>
      <source name="Virinco.WATS.Logging.Client" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="WATSClientXml" />
          <add name="WATSClientText" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\ProgramData\Virinco\WATS\tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\ProgramData\Virinco\WATS\messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add name="WATSClientXml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\ProgramData\Virinco\WATS\debug.svclog" traceOutputOptions="Timestamp">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="WATSClientText" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\ProgramData\Virinco\WATS\debug-warning.txt" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning, ActivityTracing" />
      </add>
      <add name="WATSClientText" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\ProgramData\Virinco\WATS\debug-verbose.txt" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All, ActivityTracing" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="stdole" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
